* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
  padding: 0px;
}

header {
  text-align: center;
  margin: 0;
  padding: 50px 20px;
  background: #333;
  color: white;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #00bcd4;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

section {
  margin: 5px 0;
  padding: 20px;
}

h2 {
  margin-bottom: 10px;
}

.project {
  background: white;
  padding: 20px;
  margin-top: 10px;
  border-left: 4px solid #00bcd4;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  background: #ddd;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  margin: 0 10px;
  color: #00bcd4;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
}
